<div class="about-header text-center">
    <h2>About</h2>
    <h5 class="text-muted">Mini Car Inventory</h5>
</div>
<hr>
<p>Mini Car Inventory is a simple web application built in MEAN Stack that aims to provide it's users an option to
    register themselves and purchase a Car of their choice. This application was built with the purpose of learning this
    technology and hence is far away from what can be called as a perfect web application serving this purpose.</p>
<p>In the Later developments of this project, we can add a brands section wherein user will be able to search any car of
    their favourite brands. an admin section will also be useful for better management of the application.</p>